
section {
  margin: 7%;
}
.Container {
  display: flex;
  width: 100%;
  background-color: white;
}

/* slider*/
.slides {
  display: flex;
  width: 40%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 300px;
  height: 300px;
  position: relative;
  left: 80px;
}
.dots {
  position: absolute;
  bottom: 900px;
  left: 10%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 150px;
}

.dot.active {
  background-color: #007bff;
}

/* slider end*/
.Judul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1px auto;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 230px;
}

.Judul h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;

}
.harga {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.tabel {
  overflow: auto;
  width: 1000px;
 
}

.tabel table {
  border: 0px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.tabel th {
  border: 0px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.tabel td {
  border: 0px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.Tambah {
  background-color: #ffbb00; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  left: 600px;
  bottom: 200px;
}

.Tambah:hover {
  background-color: #dededf;
}

.Deskripsi {
  display: flex;
  width: 100%;
  background-color: white;
}


