body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
  }
/* bagian main Dekjus */

/* Buka Navbar */

.navbar {
 width: 100%;
  position: fixed;
  top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    transition: border 5s ease-in-out; 
}
.navbar.scrol {
  border-bottom: 5px solid lightskyblue;
  background-color: white;
  padding: 0;
  height: 6%;
}
.navbar1{
    flex: 1;
    text-align: right;
}
.keranjang{
  position: relative;
}
.logo img{
  position: absolute;
  height: 200%;
  display: flex;
  align-items: center;
  top: -20px;
}

.navbar ul li img{
  position: absolute;
  height: 200%;
  display: flex;
  align-items: center;
  top: -10px;
}
.navbar ul li img:hover{
  background-color: lightgreen;
  border-radius: 20%;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}
.navbar ul{
    display: inline-block;
    list-style-type: none;
}
.navbar1 ul li{
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    width: 100px;
    height: 20px;
}
.navbar1 ul li:hover{
  transition: 2s;
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
/* Tutup Navbar */
.row{
   padding-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}



.konten1{
  margin-top: 10%;
}
.Judul {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 15px;
  }
  
.Judul h1 {
    margin: 0;
  }
  
.Judul p {
    margin-top: 5px;
    color: #777;
  }

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.laptop-item {
  border: 5px solid lightskyblue;
  margin: 10px;
  padding: 15px;
  width: 300px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.5s ease;
  background-color: #fff;
}

.laptop-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.laptop-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.laptop-content {
  padding: 15px;
  text-align: center;
}

.laptop-item h3 {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 5px;
}

.laptop-item p {
  font-size: 1.2em;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.laptop-item button {
  background-color: #ffbb00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.logo {
  width: 70px;
  height: auto;
  margin: 0 10px;
}
.asus{
    margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color:rgb(255, 255, 255);
  color:black;
}

.footer {
  width: 30%;
}

.footer h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.footer p, .footer li {
  font-size: 14px;
  margin: 5px 0;
}

.footer li {
  list-style: none;
}

.footer a {
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .content {
  padding: 10px;
}

.footer .content li {
  margin-bottom: 5px;
}

.footer .content a {
  color:white;
}