body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
  }
/* bagian main Dekjus */



.header{
  height: 100vh;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Buka Navbar awal */

.navbar {
 width: 100%;
  position: fixed;
  top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    transition: border 5s ease-in-out; 
}
.navbar.scrol {
  border-bottom: 5px solid lightskyblue;
  background-color: white;
  padding: 0;
  height: 6%;
}
.navbar1{
    flex: 1;
    text-align: right;
}
.keranjang{
  position: relative;
}
.logo img{
  position: absolute;
  height: 200%;
  display: flex;
  align-items: center;
  top: -20px;
}
.navbar ul li img{
  position: absolute;
  height: 200%;
  display: flex;
  align-items: center;
  top: -10px;
}
.navbar ul li img:hover{
  background-color: lightgreen;
  border-radius: 20%;
}
.navbar ul{
    
    display: inline-block;
    list-style-type: none;
}
.navbar1 ul li a{
  text-decoration: none;
  color: black;
}
.navbar1 ul li{
  
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    width: 100px;
    height: 20px;
    text-decoration: double;
}
.navbar1 ul li:hover{
  transition: 2s;
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
/* Tutup Navbar */
.row{
   padding-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}